
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

#imagem {
    width: 700px;
    margin: 0 auto 72px; /*top-lados esq e dir-bottom*/
}


h1 {
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    margin-bottom: 32px;
}

h1 span {
    color: #0075ff;
    font-weight: bold;
}

span, a{  /*usa virgula para acrescentar varios itens, aqui ele pega tudo que é span e o que é a*/
    color: #0075ff;
}

p, #footer{
    color: #7D7987;
    font-size:14px;
    line-height: 28px;
}

#footer a+a {
    margin-left: 28px;
}

.line {
    width: 568px;
    height: 0px;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
}